{{ define "header" }}
  {{ partial "masthead.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>Log</h1>
  </header>
  <div>En esta página apunto todo lo que leído que me parece interesante.
    En su mayoría son articulos, aunque también hay hilos de reddit o
    repositorios git. El tagueo del contenido es semi-automático, por lo que a
    veces se verá raro. Esto tiene su propio RSS, se puede ver en
    <a href="/log/index.xml">esta dirección</a>.</div>
  <div>Si quieres saber por que logueo todo lo que leo, puedes leer este
    <a href="/posts/como-loguear-todo-lo-que-lees-y-por-qué/">articulo</a>.
  </div>
  <br>
  {{ range (.Paginator 100).Pages }}
    {{ partial "log-summary.html" . }}
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
{{ end }}
