<p>
  Publicado
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
      por <span itemprop="author">{{ index . }}</span> el
    {{ else }}
      por <span itemprop="author">{{ .Site.Params.author }}</span> el
    {{ end }}
  {{ end }}
  <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
    {{ dateFormat "2 de Jan de 2006" (default .Date (.PublishDate)) }}
  </time>
  {{ with .Params.categories }}
    en <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link.html" ".") "chomp" ".") ", " " y " }}</span>
  {{ end }}
  {{ with .Params.tags }}
    y etiquetado en {{ delimit (apply (apply (sort .) "partial" "post/tag-link.html" ".") "chomp" ".") ", " " y " }}
  {{ end }}
  usando <span itemprop="wordCount">{{ .WordCount }}</span> palabras.
</p>
