{{ $limit := (index .Site.Params.layout .Type).related.limit | default .Site.Params.related_content_limit }}
{{ $pages := .Site.RegularPages.Related . | first (default 7 $limit) }}
{{ $page_count := len $pages }}
{{ if and (gt $page_count 1) (ne $limit 0) }}
  {{ with $pages }}
    <aside>
      <header>Contenido Relacionado</header>
      {{ with (index $.Site.Params.layout $.Type).related }}
        {{ if ne $.Site.Params.hackcss.disabled true }}
          {{ with resources.Get "css/conditional/layouts/partials/page-thumbs.css" | minify }}
            <style>{{ .Content | safeCSS }}</style>
          {{ end }}
        {{ end }}
        {{ partial "page-thumbs.html" (dict "thumbnail_options" .thumbs "page_count" $page_count "limit" $limit "pages" $pages "show_readingtime" true) }}
      {{ else }}
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <time class="muted" datetime="{{ .ReadingTime }}M">{{ .ReadingTime }} minutes</time>
          {{ end }}
        </ul>
      {{ end }}
    </aside>
  {{ end }}
{{ end }}
