{{ $page_schema := .Params.schema }}
{{ $section_schema := (.Site.GetPage "section" .Page.Type).Params.schema }}
{{ $schema_type := (default $section_schema.type $page_schema.type) | default "Thing" }}
{{ $article_types := .Site.Data.schema.article_types }}
{{ $is_typeof_article := in $article_types $schema_type }}
<article itemprop="citation{{ if eq $schema_type "BlogPosting" }} blogPost{{ end }}" itemscope itemtype="https://schema.org/{{ $schema_type }}" id="{{ .Title | anchorize }}">
  <header>
    <h1 itemprop="{{ if $is_typeof_article }}headline{{ else }}name{{ end }}">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ if eq .Type "post" }}
      <p class="muted">{{ partial "post/meta.html" . }}</p>
    {{ end }}
    {{ if .Description }}
      <blockquote itemprop="headline">{{ .Description }}</blockquote>
    {{ end }}
  </header>
  <div itemprop="{{ if $is_typeof_article }}articleBody mainEntityOfPage{{ end }}">
    {{- .Summary -}}
  </div>
  <meta itemprop="inLanguage" content="{{ .Site.LanguageCode }}">
  <meta itemprop="datePublished" content="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
  <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
  {{ with .Params.images }}
    <meta itemprop="image" content="{{ index . 0 }}">
  {{ end }}
</article>
{{ if .Truncated }}
  <nav class="readmore">
    <a itemprop="url" href="{{ .RelPermalink }}">Leer más&nbsp;&raquo;</a>
  </nav>
{{ end }}
